---
---
@import "minima";

h2 {
    color: #FF46A2;
    font-family: Arial, sans-serif;
}
code {
    background-color: #4646ff4c;
    color: #FFFF46;
    padding: 2px 5px;
}
a {
    color: #46FFA3;
}

